
form .word-serch {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
     font-size: 18px;
}

form .word-serch input{
    width: 30%;
    padding: 8px 10px;
    border: none;
    border: 1px solid #a6c9fe;
    outline: none;
   
}

form .word-serch button{
    padding: 8px 15px;
    /* margin-left: 10px; */
    background-color: #a6c9fe;
    border: none;
    /* border-radius: 5px; */
    color: white;
    cursor: pointer;
}


/* searching field design start here */
.search-result{
    /* width: 400px; */
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #a6c9fe;
    background-color: aquamarine;
}

.sound-and-ipasymbol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}