@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agu+Display&family=Angkor&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+MX+Guides&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* navbar design */
.navbar-brand img{
    width: 110px;
    margin-left: 10px;
}
/* header colorbg : #333333 */

.search-msg{
    width: 100%;
    height: 140px;
    background-color: #333333;
}

.search-msg h1{
    margin-left: 50px;
    color: white;
    text-align: left;
    padding-top: 40px;
    font-style: italic;
    font-size: 32px;
    /* line-height: 52px; */
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: italic;
}

form .word-serch {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
     font-size: 18px;
}

form .word-serch input{
    width: 30%;
    padding: 8px 10px;
    border: none;
    border: 1px solid #a6c9fe;
    outline: none;
   
}

form .word-serch button{
    padding: 8px 15px;
    /* margin-left: 10px; */
    background-color: #a6c9fe;
    border: none;
    /* border-radius: 5px; */
    color: white;
    cursor: pointer;
}


/* searching field design start here */
.search-result{
    /* width: 400px; */
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #a6c9fe;
    border-radius: 6px;
    background-color: aquamarine;
}

.sound-and-ipasymbol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}