{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <form action="/search" method="POST" class="form-inline">
        <div class="word-serch">
            <input type="text" name="word" placeholder="Search words.. by VocabBuilder" autocomplete="off">
            <button type="submit">Search</button>
        </div>
    </form>
    
    {% if result %}
    <div class="search-result">
        <p><strong>word:</strong> {{ result.word }}</p>
        <p>{{ result.part_of_speech }}</p>
        <div class="sound-and-ipasymbol">
            <audio controls>
                <source src="{{ result.audio_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <p> {{ result.ipa }}</p>
        </div>
    </div>
        
    <p><strong>Definition:</strong> {{ result.definition }}</p>
    <p><strong>Example:</strong> {{ result.example }}</p>
    {% endif %}


{% endblock %}