{% extends 'layout.html' %}

{% block title %}
    Topics
{% endblock %}

{% block main %}
    <div class="blank-and-design"></div>
    <div class="container mt-5 mb-5">
        
    <div class="col-md-6 form-section">
            <h4 class="mb-4">Add New Topic</h4>
            <form method="POST" action="/add_topic">
                <div class="mb-3">
                    <input type="text" class="form-control" name="topic_name" placeholder="Topic name *" autocapitalize="off" required>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" name="image_url" placeholder="image *" autocapitalize="off" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">add topic</button>
            </form>
        </div> 
    <hr>
     <div class="col-md-6 form-section">
        <h2>Add New Vocabulary Word</h2>
            <form method="POST" action="/add_word">
                <select name="topic_id" required> 
                    <option value="" disabled selected>Select a topic</option>
                    {% for topic in topics %}
                    <option value="{{ topic['id'] }}" style="color: black;">{{ topic['name'] }}</option>
                    {% endfor %}
                </select>

                <div class="mb-3">
                    <input type="text" class="form-control" name="word" placeholder="Word *" autocapitalize="off" required>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" name="difinition" placeholder="difinition" autocapitalize="off" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="part_of_speech" placeholder="part_of_speech" autocapitalize="off" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" name="ipa_us" placeholder="ipa_us " autocapitalize="off" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="ipa_uk" placeholder="ipa_uk" autocapitalize="off" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" name="sound_us" placeholder="sound_us" autocapitalize="off" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="sound_uk" placeholder="sound_uk" autocapitalize="off" required>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="level" placeholder="level (A1, A2, B1, etc.)" autocapitalize="off" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">add word</button>
            </form>
        </div> 
        </div>
        <div class="blank-and-design"></div>


{% endblock %}
