{% extends 'layout.html' %}

{% block title %}
    Topics
{% endblock %}

{% block main %}
    <div class="container">
        <div class="heading">
            <h2>Topics</h2>
    <p>Build your topic vocabulary with these mini-dictionaries, which are groups of words related to common subject areas. Choose a topic area from the list below to get started.Build your topic vocabulary with these mini-dictionaries, which are groups of words related to common subject areas. Choose a topic area from the list below to get started.</p>
        </div>
    </div>
{% endblock %}